<!-- app/views/restaurants/edit.html.erb -->
<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-semibold mb-4">Edit <%= @restaurant.name %></h1>
  
  <%= render 'form', restaurant: @restaurant %>
</div>
